@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
button{
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #504e4e;
    border-radius: 5px;

}
.feature h1{
    font-size: 36px;
    margin: 20px 30px;
}
